.client {
    background-color: #fef7f0;
    padding-top: 270px;
    padding-bottom: 90px;
  
    &__logo {
      display: flex;
      justify-content: space-around;
      align-items: center;

      &-img {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .client {

      &__logo {
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }