.about {
    margin: 120px 0;
  }
  
  .about-mission,
  .about-mission__exp {
    display: flex;
  }
  
  .about-mission {
    display: flex;
    align-items: center;
  
    &__wrapper {
      margin-left: 45px;
    }
  
    &__exp {
      align-items: flex-end;
      margin-bottom: 45px;
    }
  
    &__number {
      @extend %rubik-700;
      color: #a3bbc8;
      font-size: 140px;
      margin-right: 30px;
      line-height: 113px;
    }
  
    &__exp__text {
      @extend %rubik-400;
      color: $accent;
      line-height: 30px;
      width: 95px;
    }
  
    &__title {
      display: block;
      @extend %dmsans-700;
      color: $accent;
      font-size: 36px;
      margin-bottom: 45px;
    }
  
    &__text {
      @extend %rubik-400;
      color: $accent;
      line-height: 30px;
      width: 565px;
      margin-bottom: 60px;
    }
  
    &__items {
      display: flex;
      border-top: 2px solid #e6eaf0;
    }
  
    &__item {
      display: flex;
      width: 200px;
      height: 80px;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      border-right: 1px solid #e6eaf0;
      margin-top: 30px;
      position: relative;
  
      &:last-child {
        border: none;
      }
  
      &-num {
        @extend %dmsans-700;
        color: $accent;
        font-size: 36px;
        line-height: 1;
      }
  
      &-desc {
        @extend %dmsans-700;
        color: #4c4c4c;
      }
  
      &-wrapper {
        margin-left: 20px;
      }
    }
  }