html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    color: $default;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container-lg {
    max-width: 1795px;
    margin: 0 auto;
    padding: 0 12.5px;
}

.container-sm {
    max-width: 1195px;
    margin: 0 auto;
    padding: 0 12.5px;
}

.breadcrumbs {
    display: inline-flex;
    justify-content: center;
    &__list {
        display: flex;
    }
    &__item {
        @extend %rubik-400;
        color: rgba(34, 41, 51, 0.6);
        font-size: 14px;
        line-height: 24px;
        margin-right: 20px;
        position: relative;

        &::after {
            content: "/";
            @extend %rubik-400;
            color: rgba(34, 41, 51, 0.6);
            position: absolute;
            font-size: 14px;
            right: -13px;
            top: 1px;
        }
        
        &:last-child {
            margin-right: 0;
            color: rgba(34, 41, 51, 1);
            &::after {
                display: none;
            }
        }
    }
    &__link {
        color: inherit;
    }
}
  