@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 45px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item + .menu__list-item {
        padding-left: 35px;
    }
    &__list-link {
        text-transform: capitalize;
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %dmsans-700;
    }
}

.user-nav {
    display: flex;
    &__link {
        position: relative;
    }

    &__link-search {
        width: 50px;
        height: 50px;
        background-color: #edf1f4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        height: 50px;
        border-radius: 25px;
        background-color: #fcd7b6;
        margin: 0 20px;
    }

    .hline {
        border: none;
        width: 1px;
        height: 32px;
        background-color: #fde7d3;
    }
    
    &__link-like {
        padding-left: 40px;
        padding-right: 30px;
    }

     &__link-cart {
         padding-left: 30px;
         padding-right: 40px;
     }

    &__num {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        top: -6px;
        right: 21px;
        font-size: 10px;
        color: $accent;
        @extend %dmsans-400;
        text-align: center;
        line-height: 15px;
    }

    &__num-cart {
        right: 30px;
    }

    &__link-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #a3bbc8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link-img-search {
        width: 15px;
        height: 15px;
    }

    &__link-img-icon {
        width: 22px;
        height: 22px;
    }

}

.top-slider {
    padding-top: 65px;

    &__inner {
        background-color: #fcd7b6;
        z-index: 0;
    }

    &__item {
        display: flex !important;
        padding: 220px 115px 205px 0;
        position: relative;
    }

    &__content {
        padding-left: 295px;
        padding-right: 50px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 65px;
        line-height: 68px;
        color: $accent;
        max-width: 411px;
        @extend %rubik-500;
    }

    &__text {
        margin-bottom: 40px;
        max-width: 315px;
        font-size: 15px;
        line-height: 25px;
        color: #436372;
        @extend %rubik-400;
    }

    &__link {
        display: block;
        background-color: #a3bbc8;
        font-size: 15px;
        padding-left: 19px;
        padding-top: 20px;
        color: #fff;
        width: 200px;
        height: 60px;
        @extend %rubik-500;
        position: relative;
    }

    &__img {
        z-index: 2;
        height: 100%;
        align-self: flex-end;
    }

    // &__item::after {
    //     content: "";
    //     background-image: url(/images/slider/photo-bg.png);
    //     width: 610px;
    //     height: 635px;
    //     position: absolute;
    //     top: 70px;
    //     left: 900px;
    // }

     &__link::after {
         content: "";
         position: absolute;
         background-image: url(/images/slider/arrow.png);
         width: 22px;
         height: 9px;
         margin-top: 5px;
         margin-left: 70px;
     }
}

.slick-dots {
    display: flex;
    justify-content: center;

    li {
        margin-right: 12px;
    }

    li:last-child {
        margin-right: 0;
    }

    button {
        @extend %rubik-500;
        border: none;
        border-radius: 50%;
        margin-bottom: 45px;
        font-size: 10px;
        color: $accent;
        width: 30px;
        height: 30px;
        background-color: #fff;
        opacity: .5;
        transition: opacity .3s;
        cursor: pointer;
    }

    & .slick-active button {
        opacity: 1;
    }
}

.info {
    display: flex;
    background-color: #fef7f0;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 590px;
        padding-top: 45px;
        padding-bottom: 35px;
    }

    &__item:first-child {
        border-right: 1px solid #e8e4df;
    }

    &__item:last-child {
        border-left: 1px solid #e8e4df;
    }

    &__item-del {
        align-self: flex-start;
    }

    &__item-wrapper {
        padding: 0 80px;
    }

    &__item-wrapper-sup {
         position: relative;
    }

    &__item-wrapper-sup::before {
        content: "";
        position: absolute;
        width: 54px;
        height: 54px;
        background-image: url(/images/icons/sup.png);
        background-repeat: no-repeat;
        left: 5px;
    }

    &__item-wrapper-del {
        position: relative;
    }

    &__item-wrapper-del::before {
        content: "";
        position: absolute;
        background-image: url(/images/icons/del.png);
        width: 55px;
        height: 37px;
        left: 5px;
    }

    &__item-wrapper-card {
        position: relative;
    }

    &__item-wrapper-card::before {
        content: "";
        position: absolute;
        width: 54px;
        height: 53px;
        background-image: url(/images/icons/card.png);
        left: 5px;
        top: 5px;
    }

    &__item-title {
        @extend %dmsans-700;
        font-size: 16px;
        margin-bottom: 5px;
        color: #414141;
    }

    &__item-text {
        @extend %dmsans-500;
        font-size: 14px;
        line-height: 30px;
        color: #585858;
        max-width: 185px;
    }
}


.footer {
    padding-top: 80px;
    &-top {
        display: flex;
        justify-content: center;
    }
}
    .footer-top {
    &__item {
        display: flex;
        flex-direction: column;
        @extend %dmsans-500;
    }

    & &__logo {
        margin-bottom: 25px;
    }

    &__item a {
        max-width: 200px;
        margin-bottom: 20px;
        color: $default;
        font-size: 14px;
        line-height: 20px;
        @extend %rubik-400;
    }

    &__item__contact {
        width: 201px;
        margin-right: 100px;
    }

    &__item__services {
        width: 130px;
        margin-right: 160px;
    }

    &__item__account {
        width: 100px;
        margin-right: 200px;
    }

    &__item__newsletter {
        max-width: 270px;
    }

    & h6 {
        text-transform: uppercase;
        margin-bottom: 38px;
        line-height: 21px;
        color: #1f2044;
        @extend %dmsans-700;
        font-size: 16px;
        padding-top: 5px;
    }

    &__text {
        max-width: 245px;
        margin-bottom: 40px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        width: 170px;
        border: none;
        background-color: #fef7f0;
        height: 38px;
        padding: 0 15px;
        margin: 0;
    }

    &__form-input::placeholder {
        @extend %dmsans-700; 
        color: #234969;
        font-size: 12px;
    }

    &__form-btn {
        border: none;
        background-color: #a3bbc8;
        color: #fff;
        font-size: 14px;
        @extend %dmsans-400;
        width: 100px;
        height: 38px;
        padding: 0;
        cursor: pointer;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    padding: 35px 0;
    border-top: 1px solid #dae4e9;

    &__copy {
        @extend %rubik-400;
    }

    &__nav {
        display: flex;
    }

    &__nav-link {
        color: $default;
        font-size: 14px;
        margin-right: 15px;
        padding-left: 15px;
        @extend %rubik-400;
    }

    &__nav-link:first-child {
        padding-left: 0;
    }

    &__nav-link:last-child {
        margin-right: 0;
    }

    &__line {
        width: 2px;
        height: 17px;
        background-color: $default;
        border: none;
        margin: 0;
    }
}





















@import 'media';
