<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="stylesheet" href="css/about_us.min.css">
</head>
<body>
    
    {% include 'module/_header/_header.njk' %}

    <main class="main">

            {% include 'module/_top/_top.html' %}

            {% include 'module/_about/_about.html' %}

            {% include 'module/_statistic/_statistic.html' %}

            {% include 'module/_team/_team.html' %}
        
            {% include 'module/_blog/_blog.html' %}

            {% include 'module/_clients/_clients.html' %}
    </main>

    {% include 'module/_footer/_footer.njk' %}

    <script src="js/main.min.js"></script>
</body>
</html>