<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="stylesheet" href="css/blog.min.css">
</head>
<body>
    
    {% include 'module/_header/_header.njk' %}

    <main class="main">

        {% include 'module/_top/_top.html' %}

        {% include 'module/_blog-one/_blog-one.html' %}

        {% include 'module/_client/_client.html' %}
    </main>

    {% include 'module/_footer/_footer.njk' %}

    <script src="js/main.min.js"></script>
</body>
</html>