<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glee</title>
    <link rel="stylesheet" href="css/index.min.css">
</head>
<body>

    {% include 'module/_header/_header.njk' %}
    
    <main class="main">
        
        {% include 'module/_top-slider/_top-slider.njk' %}

        {% include 'module/_gallery/_gallery.njk' %}

        {% include 'module/_lighting/_lighting.html' %}

        {% include 'module/_design/_design.html' %}

        {% include 'module/_video/_video.html' %}

        {% include 'module/_blog/_blog.html' %}

        {% include 'module/_clients/_clients.html' %}

        
    </main>

    {% include 'module/_footer/_footer.njk' %}

    <script src="js/main.min.js"></script>
</body>
</html>