.blog-page {
    padding: 120px 0;
  
    &__inner {
      display: flex;
      justify-content: space-between;
    }
  
    &__content {
      width: 830px;
      margin-right: 70px;
  
    }
  
    &__item {
      margin-bottom: 50px;
  
      &:last-child {
        margin-bottom: 75px;
      }
  
      &-img {
        max-width: 830px;
        height: 500px;
        object-fit: cover;
        position: relative;
      }
  
      &-title {
        @extend %rubik-400;
        font-size: 36px;
        color: #333;
        margin: 40px 0 35px;
      }
  
      &-text {
        @extend %rubik-400;
        color: $accent;
        line-height: 30px;
        margin-bottom: 35px;
      }
  
      &-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend %nunito-700;
        font-size: 15px;
        color: #a3bbc8;
        width: 180px;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #a3bbc8;
        transition: all .3s;
        &:hover {
          background-color:#a3bbc8;
          color: #fff;
          path {
            transition: all .3s;
            fill: #fff;
          }
        }
      }
    }
  
    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 275px;
      height: 75px;
      margin-top: -75px;
      background-color: #a3bbc8;
      position: absolute;
  
      &-link {
        @extend %rubik-400;
        color: #fff;
        font-size: 12px;
        & + .blog-page__box-link {
          margin-left: 43px;
        }
      }
    }
  
    &__aside {
      width: 270px;
  
      &-form {
        margin-bottom: 55px;
        display: flex;
      }
  
      &-input {
        border: 2px solid #ebf1f3;
        border-radius: 5px;
        width: 270px;
        height: 43px;
        padding: 0 55px 0 10px;
      }
  
      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 43px;
        border: none;
        background-color: #ebf1f3;
        margin-left: -45px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  
    &__posts {
  
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 280px;
        border-radius: 10px;
        margin-bottom: 25px;
        transition: all .3s;
  
        &:hover {
          background-color: #edf1f4;
        }
      }
  
      &-img {
        width: 71px;
        height: 71px;
        object-fit: cover;
        margin-right: 20px;
      }
  
      &-title {
        @extend %rubik-400;
        font-size: 14px;
        color: #333;
        line-height: 20px;
        margin-bottom: 10px;
      }
  
      &-date {
        @extend %rubik-400;
        color: #9a9a9a;
        font-size: 12px;
      }
    }
  }
  
  .blog-one__item {
    h6 {
      @extend %rubik-500;
      color: $accent;
      line-height: 30px;
      margin-bottom: 15px;
      font-size: 16px;
    }
  
    p {
      @extend %rubik-400;
      color: $accent;
      line-height: 30px;
      margin-bottom: 35px;
    }
  
    blockquote {
      padding: 25px 40px;
      border-left: 6px solid #a3bbc8;
      @extend %rubik-400;
      color: $accent;
      line-height: 30px;
      background-color: #edf1f4;
      margin-bottom: 45px;
  
      span {
        display: block;
        padding-left: 40px;
        position: relative;
        color: $accent;
  
        &::before {
          content: "";
          width: 20px;
          height: 3px;
          background-color: #a3bbc8;
          top: 14px;
          left: 2px;
          position: absolute;
        }
      }
    }
  
    &-wrapper {
      display: flex;
      
  
      img {
        width: 323px;
        height: 210px;
        object-fit: cover;
        margin-right: 30px;
      }
      p {
        @extend %rubik-400;
        color: #565872;
      }
    }
  
    h5 {
      @extend %rubik-500;
      color: $accent;
      font-size: 18px;
      margin-bottom: 25px;
      padding-top: 30px;
    }
  
    span {
      @extend %rubik-400;
      color: #565872;
      line-height: 30px;
    }
  }
  
  .blog-one__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    margin-top: 60px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 65px;
  
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &-img {
      margin-right: 25px;
      object-fit: cover;
      width: 76px;
      height: 76px;
    }
  
    &-name {
      @extend %rubik-500;
      color: #333;
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    &-prof {
      @extend %rubik-400;
      color:  #666666;
    }
  
    &-holder {
      display: flex;
  
      &__wrapper {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
      &__tags {
        display: block;
        @extend %rubik-400;
        color: #333;
        margin-bottom: 10px;
      }
  
      &__share {
        display: block;
        @extend %rubik-400;
        color: #333;
      }
  
      &__link {
        display: inline-block;
        @extend %rubik-400;
        color: #999999;
        position: relative;
        margin-right: 5px;
        margin-bottom: 10px;
        transition: color .3s;
  
        &:hover {
          color: #333;
        }
  
        &::after {
          content: ",";
        }
  
        &:last-child {
          margin-right: 0;
          &::after {
            display: none;
          }
        }
      }
  
      &__social {
        margin-right: 15px;
  
        &:hover {
          path {
            transition: all .3s;
            fill: #333;
          }
        }
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  
  .blog-one__comments {
    margin-bottom: 60px;
  
    &-title {
      @extend %rubik-700;
      color: #436372;
      font-size: 24px;
      margin-bottom: 60px;
    }
  
    &-item {
      padding: 30px 0;
      display: flex;
    }
  
    &-item__answer {
      margin-left: 130px;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
    }
  
    &-img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 30px;
    }
  
    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  
    &-name {
      @extend %rubik-700;
      color: #436372;
    }
  
    &-date {
      @extend %rubik-400;
      color: #9e9e9e;
      font-size: 14px;
    }
  
    &-text {
      @extend %rubik-400;
      color: #565872;
      margin-bottom: 20px;
      line-height: 30px;
    }
  
    &-reply {
      @extend %rubik-400;
      color: #516278;
      position: relative;
      transition: all .3s;
      
      &:hover {
        color: #2c70c7;
      }
  
      &::after {
        content: "";
        background-image: url(../images/icons/arrow-shop.svg);
        width: 5px;
        height: 10px;
        position: absolute;
        top: 5px;
        right: -10px;
      }
    }
  }
  
  .blog-one__comment {
  
    &-title {
      @extend %rubik-700;
      font-size: 24px;
      color: #436372;
      margin-bottom: 45px;
    }
  
    &-name {
      width: 400px;
      max-width: 100%;
      height: 50px;
      padding: 18px 40px 18px 18px;
      border: 1px solid #e5e5e5;
      border-radius: 0;
      margin-right: 26px;
      outline: none;
      transition: all .3s;
      position: relative;
  
      &::placeholder {
        @extend %rubik-400;
        color: #999999;
      }
  
      &:focus {
        border-color: #a3bbc8;
        
        &::placeholder {
          color: #333333;
        }
      }
  
      &__wrapper {
        display: inline-block;
        position: relative;
  
        &::after {
          content: "";
          width: 14px;
          height: 13px;
          background-image: url(../images/icons/user.svg);
          right: 40px;
          top: 17px;
          position: absolute;
        }
      }
    }
  
    &-email {
      width: 400px;
      max-width: 100%;
      height: 50px;
      padding: 18px 40px 18px 18px;
      border: 1px solid #e5e5e5;
      border-radius: 0;
      margin-bottom: 20px;
      outline: none;
      transition: all .3s;
      position: relative;
  
      &::placeholder {
        @extend %rubik-400;
        color: #999999;
      }
  
      &:focus {
        border-color: #a3bbc8;
        
        &::placeholder {
          color: #333333;
        }
      }
  
      &__wrapper {
        display: inline-block;
        position: relative;
  
        &::after {
          content: "";
          width: 18px;
          height: 12px;
          background-image: url(../images/icons/email.svg);
          right: 20px;
          top: 19px;
          position: absolute;
        }
      }
    }
  
    &-text {
      width: 830px;
      height: 120px;
      padding: 18px 40px 18px 18px;
      border: 1px solid #e5e5e5;
      border-radius: 0;
      outline: none;
      transition: all .3s;
      resize: none;
      position: relative;
  
      &::placeholder {
        @extend %rubik-400;
        color: #999999;
      }
  
      &:focus {
        border-color: #a3bbc8;
        
        &::placeholder {
          color: #333333;
        }
      }
  
      &__wrapper {
        display: inline-block;
        position: relative;
        margin-bottom: 40px;
  
        &::after {
          content: "";
          width: 18px;
          height: 15px;
          background-image: url(../images/icons/message.svg);
          right: 20px;
          top: 19px;
          position: absolute;
        }
      }
    }
  
    &-btn {
      @extend %rubik-400;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      width: 190px;
      height: 50px;
      border: none;
      background-color: #a3bbc8;
      cursor: pointer;
    }
  }