<header class="header">
    <div class="container-lg">
        <div class="header__inner">
            <a class="logo" href="#">
                <img class="logo__img" src="images/logo.png" alt="logo">
            </a>
            <nav class="menu">
                <button class="menu-btn">
                    <span></span>
                    </button>
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">home +</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">about</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">services</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">pages +</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">news</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">contact</a>
                    </li>
                </ul>
            </nav>
            <div class="user-nav">
                <a class="user-nav__link user-nav__link-search" href="#">
                    <img class="user-nav__link-img-search" src="images/icons/search.svg" alt="user icon">
                </a>
                <div class="user-nav__wrapper">
                    <a class="user-nav__link user-nav__link-like" href="#">
                        <img class="user-nav__link-img" src="images/icons/like.png" alt="user icon">
                        <span class="user-nav__num">0</span>
                    </a>
                    <hr class="hline">
                    <a class="user-nav__link user-nav__link-cart" href="#">
                        <img class="user-nav__link-img" src="images/icons/cart.svg" alt="user icon">
                        <span class="user-nav__num user-nav__num-cart">0</span>
                    </a>
                </div>
                <a class="user-nav__link user-nav__link-icon" href="#">
                    <img class="user-nav__link-img-icon" src="images/icons/icon-header.svg" alt="user icon">
                </a>
            </div>
        </div>
    </div>
</header>
