<div class="shop__filters filter">
    <div class="filter-category filter__item">
        <h3 class="filter-category__title filter-title">CATEGORY</h3>
        <form class="filter-category__form" action="#">
            <label class="filter-category__label">
                <input class="filter-category__input" type="checkbox">
                <div class="filter-category__checkbox">
                    <span>Chair </span>
                </div>
            </label>
            <label class="filter-category__label">
                <input class="filter-category__input" type="checkbox">
                <div class="filter-category__checkbox">
                    <span>Table </span>
                </div>
            </label>
            <label class="filter-category__label">
                <input class="filter-category__input" type="checkbox">
                <div class="filter-category__checkbox">
                    <span>Lamp</span>
                </div>
            </label>
            <label class="filter-category__label">
                <input class="filter-category__input" type="checkbox">
                <div class="filter-category__checkbox">
                    <span>Watch</span>
                </div>
            </label>
            <label class="filter-category__label">
                <input class="filter-category__input" type="checkbox">
                <div class="filter-category__checkbox">
                    <span>Clock</span>
                </div>
            </label>
        </form>
    </div>

    <div class="filter-price filter__item">
        <h3 class="filter-price__title filter-title">PRICE</h3>
        <form class="filter-price__form" action="#">
            <input class="filter-price__input" type="text" data-min="0"
            data-max="500"
            data-from="100"
            data-to="300"
            >
            <label class="filter-price__label">
                <div class="filter-price__wrapper">
                    $<span class="filter-price__from">
                        100.00
                    </span>
                </div>
                <div class="filter-price__wrapper">
                    $<span class="filter-price__to">
                        500.00
                    </span>
                </div>
            </label>
        </form>
    </div>

    <div class="filter-brand filter__item">
        <h3 class="filter-brand__title filter-title">BRAND</h3>
        <form class="filter-brand__form" action="#">
            <label class="filter-brand__label">
                <input class="filter-brand__input" type="checkbox">
                <div class="filter-brand__checkbox">
                    <span>RFL</span>
                    <span>(10)</span>
                </div>
            </label>
            <label class="filter-brand__label">
                <input class="filter-brand__input" type="checkbox">
                <div class="filter-brand__checkbox">
                    <span>Brothers</span>
                    <span>(21)</span>
                </div>
            </label>
            <label class="filter-brand__label">
                <input class="filter-brand__input" type="checkbox">
                <div class="filter-brand__checkbox">
                    <span>Regal</span>
                    <span>(3)</span>
                </div>
            </label>
            <label class="filter-brand__label">
                <input class="filter-brand__input" type="checkbox">
                <div class="filter-brand__checkbox">
                    <span>Nadia</span>
                    <span>(14)</span>
                </div>
            </label>
            <label class="filter-brand__label">
                <input class="filter-brand__input" type="checkbox">
                <div class="filter-brand__checkbox">
                    <span>Otobi</span>
                    <span>(6)</span>
                </div>
            </label>
        </form>
    </div>
    
    <div class="filter-products">
        <h3 class="filter-products__title filter-title">RECENT PRODUCTS</h3>
        <a class="filter-products__link" href="#">
            <div class="filter-products__wrapper-img">
                <img class="filter-products__img" src="images/shop/recent1.png" alt="recent product images">
            </div>
            <div class="filter-products__wrapper-text">
                <h6 class="filter-products__text__title">Pendant lamp</h6>
                <div class="filter-products__star-rate" data-rateyo-rating="4"></div>
                <span class="filter-products__price">23$</span>
            </div>
        </a>
        <a class="filter-products__link" href="#">
            <div class="filter-products__wrapper-img">
                <img class="filter-products__img" src="images/shop/recent2.png" alt="recent product images">
            </div>
            <div class="filter-products__wrapper-text">
                <h6 class="filter-products__text__title">Pendant lamp</h6>
                <div class="filter-products__star-rate" data-rateyo-rating="4"></div>
                <span class="filter-products__price">23$</span>
            </div>
        </a>
        <a class="filter-products__link" href="#">
            <div class="filter-products__wrapper-img">
                <img class="filter-products__img" src="images/shop/recent3.png" alt="recent product images">
            </div>
            <div class="filter-products__wrapper-text">
                <h6 class="filter-products__text__title">Pendant lamp</h6>
                <div class="filter-products__star-rate" data-rateyo-rating="4"></div>
                <span class="filter-products__price">23$</span>
            </div>
        </a>
    </div>
</div>