.team {
    &__wrapper {
      display: flex;
      margin-bottom: 120px;
    }
  
    &__about {
      max-width: 310px;
      margin-right: 100px;
    }
  
    &__title {
      @extend %dmsans-700;
      color: $accent;
      font-size: 36px;
      line-height: 1;
      margin-bottom: 35px;
    }
  
    &__text {
      @extend %rubik-400;
      color: $accent;
      margin-bottom: 40px;
      line-height: 30px;
    }
  
    &__join {
      @extend %poppins-600;
      color: #fff;
      font-size: 15px;
      background-color: #a3bbc8;
      border-radius: 5px;
      padding: 16px 60px 12px 18px;
      text-transform: capitalize;
      position: relative;
  
      &::after {
        content: "";
        width: 15px;
        height: 11px;
        background-image: url(../images/about__us/arrow.svg);
        top: 21px;
        right: 25px;
        position: absolute;
      }
    }
  
    &__card {
        display: grid;
        grid-template-columns: repeat(2 , 370px);
        grid-template-rows: repeat(2 , 380px);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
  
      &-item__wrapper {
        display: flex;
        width: 325px;
        height: 110px;
        align-items: center;
        background-color: #fff;
        margin-top: -50px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        position: absolute;
      }   
  
      &-desc {
        margin-right: 55px;
        padding-left: 25px;
      }
  
      &-name {
        @extend %dmsans-700;
        color: #436372;
        font-size: 22px;
        margin-bottom: 10px;
      }
  
      &-role {
        @extend %rubik-400;
        color: #565872;
      }
  
      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 7px;
        background-color: #f6f6f6;
        border-radius: 50%;
  
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .team {

      &__about {
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
        max-width: 500px;
      }

      &__wrapper {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  @media (max-width: 1100px) {
    .team {

      &__card {
        grid-template-columns: 370px;
        grid-template-rows: repeat(4, 380px);
      }
    }

  }

  @media (max-width: 400px) {
    .team {

      &__wrapper {
        margin-bottom: 50px;
      }

      &__card {
        grid-template-columns: 300px;
        grid-template-rows: repeat(4, 380px);

        &-item__wrapper {
          width: 280px;
        }

        &-desc {
          margin-right: 20px;
        }
      }
    }

  }